@model List<ResultCategoryDto>

<div class="mb-5">
    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Kategoriler</h4>
    <div class="d-flex flex-column justify-content-start">
        @foreach(var item in Model)
        {
            <a class="h5 bg-light rounded py-2 px-3 mb-2" href="/bloglar"><i class="fa fa-angle-right me-2"></i>@item.Name</a>
        }
    </div>
</div>
