@model List<ResultAllDepartmentDto>
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Doctor Bul</h5>
            <h1 class="display-4 mb-4">Profesyonel Sağlıkçıları Bul</h1>
            <h5 class="text-white fw-normal">Seçtiğiniz bölümden doktorları arama alanı yardımıyla bulabilir, uzmanlıkları hakkında detaylı bilgiye sahip olabilirsiniz.</h5>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <select id="dep" class="form-select border-primary w-25" style="height: 60px;">
                    @foreach (var item in Model)
                    {
                        <option value="@item.DepartmentId">@item.Name</option>
                    }
                </select>
                <input id="searchArea222" type="text" class="form-control border-primary w-50" placeholder="Doktor Adı">
                <button id="searchButton222" class="btn btn-dark border-0 w-25">Ara</button>
            </div>
            <div id="doctorList3" class="owl-carousel team-carousel position-relative" style="display:flex;flex-direction:row;column-gap:10px; width:125%;margin-top:45px;">
              
            </div>
        </div>
    </div>
</div>
