<div class="container-fluid py-2 border-bottom d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-decoration-none text-body pe-3" href=""><i class="bi bi-telephone me-2"></i>0212 212 212</a>
                    <span class="text-body">|</span>
                    <a class="text-decoration-none text-body px-3" href="mailto:info@vivalife.com"><i class="bi bi-envelope me-2"></i>info@vivalife.com</a>

                </div>
            </div>

            <div class="col-md-6 text-center text-lg-end">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-2" href="https://media.licdn.com/dms/image/C4E03AQFM55z8BGhGPQ/profile-displayphoto-shrink_200_200/0/1613932436971?e=1714003200&v=beta&t=3HYout5oSFdQSF65jTNgNTybtOUAzvw7aSyG7u4UF7U">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-2" href="https://media.licdn.com/dms/image/C4E03AQFM55z8BGhGPQ/profile-displayphoto-shrink_200_200/0/1613932436971?e=1714003200&v=beta&t=3HYout5oSFdQSF65jTNgNTybtOUAzvw7aSyG7u4UF7U">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-2" href="https://www.linkedin.com/in/furkan-kılıç-929856206/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-2" href="https://media.licdn.com/dms/image/C4E03AQFM55z8BGhGPQ/profile-displayphoto-shrink_200_200/0/1613932436971?e=1714003200&v=beta&t=3HYout5oSFdQSF65jTNgNTybtOUAzvw7aSyG7u4UF7U">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body ps-2" href="https://media.licdn.com/dms/image/C4E03AQFM55z8BGhGPQ/profile-displayphoto-shrink_200_200/0/1613932436971?e=1714003200&v=beta&t=3HYout5oSFdQSF65jTNgNTybtOUAzvw7aSyG7u4UF7U">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
