@model List<ResultBlogDto>
<div class="mb-5">
    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Son Gönderiler</h4>
    @foreach(var item in Model)
    {
        <div class="d-flex rounded overflow-hidden mb-3">
            <img class="img-fluid" src="@item.BlogImgUrl" style="width: 100px; height: 100px; object-fit: cover;" alt="">
            <a href="/blog/blogdetail/@item.BlogId" class="h5 d-flex align-items-center bg-light px-3 mb-0">
               @item.Title
            </a>
        </div>

    }
   
</div>