<!DOCTYPE html>
<html lang="en">

<head>
    @await Component.InvokeAsync("_HeadComponenPartial")
</head>
<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_TopBarComponentPartial")
    <!-- Topbar End -->

    <!-- Navbar Start -->
    @await Component.InvokeAsync("_NavBarComponentPartial")
    <!-- Navbar End -->
    @RenderBody()
    <!-- Hero Banner Start -->
    @await Component.InvokeAsync("_MainBannerViewComponentPartial")
    <!-- Hero Banner End -->

    <!-- About Start -->
    @await Component.InvokeAsync("_AboutUsWithIconsViewComponentPartial")
    <!-- About End -->

    <!-- Services Start -->
    @await Component.InvokeAsync("_ServicesWithIconsViewComponentPartial")
    <!-- Services End -->

    <!-- Appointment Start -->
    @await Component.InvokeAsync("_GetAllDepartmentViewComponentPartial")
    <!-- Appointment End -->

    <!-- Pricing Plan Start -->
    @await Component.InvokeAsync("_MedicalProgramWithPriceViewComponentPartial")
    <!-- Pricing Plan End -->

    <!-- Team Start -->
    @await Component.InvokeAsync("_HealthCareProfViewComponentPartial")
    <!-- Team End -->

    <!-- Search Start -->
    @await Component.InvokeAsync("_SearchDoctorViewComponentPartial")
    <!-- Search End -->

    <!-- Testimonial Start -->
    @await Component.InvokeAsync("_TestimonialViewComponentPartial")
    <!-- Testimonial End -->

    <!-- Blog Start -->
    @await Component.InvokeAsync("_GetLast3BlogWithAuthorNdCategoryComponentPartial")
    <!-- Blog End -->

    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterComponentPartial")
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    <!-- JavaScript & Template Libraries -->
    @await Component.InvokeAsync("_ThemeScriptsComponentPartial")
</body>

</html>