<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a href="/" class="navbar-brand">
                <h1 style="color:deepskyblue" class="m-0 text-uppercase text-primary"><i class="fa fa-hospital me-2" style="color:deepskyblue"></i>Viva Life</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Anasayfa</a>
                    <a href="/hakkimizda" class="nav-item nav-link">Hakkımızda</a>
                    <a href="/hizmetler" class="nav-item nav-link">Hizmetlerimiz</a>
                    <a href="/fiyatlar" class="nav-item nav-link">Fiyatlar</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">İçerik</a>
                        <div class="dropdown-menu m-0">
                            <a href="/bloglar" class="dropdown-item">Blog</a>
                            <a href="/saglik-calisanlari" class="dropdown-item">Sağlık Ekibimiz</a>
                            <a href="/appointment/index" class="dropdown-item">Randevu Al</a>
                        </div>
                    </div>
                    <a href="/iletisim" class="nav-item nav-link">İletişim</a>
                </div>
            </div>
        </nav>
    </div>
</div>
