@model List<ResultAllDepartmentDto>
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Randevu</h5>
                    <h1 class="display-4">Hızlı Randevu Oluştur</h1>
                </div>
                <p class="text-white mb-5">Hızlı şekilde randevularınızı kolayca alabileceğiniz VivaLife Hastanesi sitesinde, anında randevu seçenekleri ve hızlı işlem adımlarıyla zamanınızı en iyi şekilde değerlendirin.Medikal Servisler, Hastane randevusu ve daha birçok alanda randevularınız artık parmaklarınızın ucunda!</p>
                <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="/HealtCareTeam/GetFindDoctor">Doktor Bul</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Rendevu Oluştur</h1>
                    <form method="post" asp-controller="Appointment" asp-action="PostAppointment">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <select id="department" name="DepartmentId" class="form-select bg-light border-0" style="height: 55px;">
                                    <option disabled selected>Bölüm Seçiniz</option>
                                    @foreach (var item in Model)
                                    {
                                        <option class="departmentOptions" value="@item.DepartmentId">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select id="doctor" name="DoctorId" class="form-select bg-light border-0" style="height: 55px; ">
                                    <option selected>Doktor Seçiniz</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" name="VisitorName" placeholder="İsim" style="height: 55px;" autocomplete="off">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-light border-0" name="VisitorEMail" placeholder="Mail@mail.com" style="height: 55px;" autocomplete="off">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="tel" class="form-control bg-light border-0" name="PhoneNumber" placeholder="5445445445" style="height: 55px;" autocomplete="off" maxlength="11">
                           
                            </div> 
                            <div class="col-12 col-sm-6">
                                <select id="Gender" name="IsWoman" class="form-select bg-light border-0" style="height: 55px;" required>
                                    <option value="" disabled selected>Cinsiyetinizi belirtiniz</option>
                                    <option value="false">Erkek</option>
                                    <option value="true">Kadın</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input" name="AppointmentDate"
                                           placeholder="Tarih" data-target="#date" data-toggle="datetimepicker" style="height: 55px;" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input" name="AppointmentTime"
                                           placeholder="Saat" data-target="#time" data-toggle="datetimepicker" style="height: 55px;"autocomplete="off">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Randevu Oluştur</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

